<header class="bar-title">
	<%= render :partial => 'partials/logged_in_icon' %>
	<h1 class="title">
		My Shopping List
	</h1>
	<%= link_to "Add Item", new_shopping_list_item_path, html_options = {'class' => "navcell-2 right button"}%>
</header>
<div class="content">
	<div class="shopping-list list">
		<% unless @shopping_list_items.nil? %>
		<ul>
		 <% @shopping_list_items.each do |item| %>
		 	<li><a href="#" class='test' id= '<%= item.item.id%>' onClick= 'putItemInCart(<%= item.item.id %>)'><%= item.name %></a></li>
		 <% end %>
		</ul>
		<% else %>
		<p>There are no items on your shopping list.</p>
		<% end %>
	</div>

</div>
<%= render :partial => 'partials/tab_nav' %>
