<header class="bar-title">
	<%= link_to "Back", item_purchases_path, html_options = {'class' => "navcell-1 left back button-prev"} %>
	<h1 class="title">
		<%= @pagetitle %>
	</h1>
	<a class="navcell-2 right button" href="#additem">
		Add Item
	</a>
</header>

<%= render :partial => 'partials/tab_nav' %>

<div class = "content">
	<ul class="list">
		<% @items.each do |item_purchase| %>
	 		 <li><%= item_purchase.name %> <span class="count"><%= item_purchase.status_to_s %></span></li>
		<% end %>
	</ul>
</div>