<header class="bar-title">
	<%= link_to "Back", item_purchases_path, html_options = {'class' => "navcell-1 left back button-prev"} %>
	<h1 class="title">
		<%= @pagetitle %>
	</h1>
</header>

<%= render :partial => 'partials/tab_nav' %>

<div class = "content">
	<% unless @items.length == 0 || @items.nil? %>
	<ul class="list">
		<% @items.each do |item_purchase| %>

	 		 <li><%= link_to item_purchase.name, item_purchase_path(item_purchase) %> <span class="count"><%= item_purchase.status_to_s %></span></li>


		<% end %>
	</ul>
	<% else %>
		<%= render :partial => 'empty_area_message', :locals => {} %>
	<% end %>
</div>
