<div class="bar-title">
	<%= link_to "Back", item_purchases_path, html_options = {'class' => "navcell-1 left back button-prev"} %>
	<h1 class="title">
		Almost Out
	</h1>
</div>
<div class="content">
	<table class="running-low-list">
		<tbody>
		  <%= @current_user.customer_id %>
		<% @items.each do |item_purchase| %>
			<tr class="<%=  %>">
				<td><%= item_purchase.name %></td>
				<td><%= link_to raw("Add to Shopping List"), new_shopping_list_item_path(:customer_id => @current_user.customer_id, :item_id => item_purchase.item.id, :from => "almost_out"), :class => 'button', :id => 'Add to Shopping List' %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>