<div class="top-navbar">
	<a class="navcell-1 left" href="#">
		Back
	</a>
	<h1 class="page-title">
		<%= @item.item.generic_name%> Details
	</h1>
</div>

<table>
	<tr>
		<th>Last purchased</th>
		<td><%= @item.purchase.date.to_date %></td>
	</tr>
	<tr>
		<th>Quantity</th>
		<td><%= @item.quantity %><%= @item.unit %></td>
	</tr>
	<tr>
		<th>Store</th>
		<td><%= @item.item_store.store.name%></td>
	</tr>
	<tr>
		<th>Price</th>
		<td>$<%= @item.price_per_unit %> / <%= @item.unit %></th>
	</tr>
	<tr>
		<th>Status (testing purposes)</th>
		<td><%= @item.status %></th>
	</tr>
</table>

<td><%= link_to raw("Almost Out"), {:controller=>"item_purchases", :action=>"update", :id => @item.id, :from => 'item_show', :status => 0}, :method => :put, :class => 'button'%></td>

<td><%= link_to raw("Running Low"), {:controller=>"item_purchases", :action=>"update", :id => @item.id, :from => 'item_show', :status => 1}, :method => :put, :class => 'button'%></td>

<td><%= link_to raw("Still Have Some"), {:controller=>"item_purchases", :action=>"update", :id => @item.id, :from => 'item_show', :status => 2}, :method => :put, :class => 'button'%></td>

<td><%= link_to raw("Just Bought It"), {:controller=>"item_purchases", :action=>"update", :id => @item.id, :from => 'item_show', :status => 3}, :method => :put, :class => 'button'%></td>

<td><%= link_to raw("Add to Shopping List"), {:controller=>"shopping_list_items", :action=>"create", :shopping_list_item => {:customer_id => @item.purchase.customer_id, :item_id => @item.item.id}, :from => 'item_show'}, :method => :post, :class => 'button'%></td>



<div class="item_status">
	<%# loop over model statuses here and highlight the one that is the current status for this item. these should also be special links that update the status when clicked (like the task check off buttons in the 272 chores app example) %>
</div>