
	<header class="bar-title">
		<h1 class="page-title">
		<div class="top-navbar">
			<%= link_to "Back", item_purchases_path, html_options = {'class' => "navcell-1 left back button-prev"} %>
		<%= @item.item.generic_name%> Details </h1>

</header>

<div class="content">



<ul class="list">
	
	<li>
		&nbsp;&nbsp;&nbsp;<th>Last purchased</th> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<td><%= @item.purchase.date.to_date %></td>
	</li>


	<li>
		&nbsp;&nbsp;&nbsp;<th>Quantity</th>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<td><%= @item.quantity %><%= @item.unit %></td>
	</li>

	<li>

		&nbsp;&nbsp;&nbsp;<th>Store</th>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<td><%= @item.item_store.store.name%></td>
	</li>

	<li>
		&nbsp;&nbsp;&nbsp;<th>Price</th>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<td>$<%= @item.price_per_unit %> / <%= @item.unit %></th>
	</li>
	<li>
		&nbsp;&nbsp;&nbsp;<th>Status</th>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<td><%= @item.status_to_s %></th>
	</il>

</ul>
<td><%= link_to raw("All Out"), {:controller=>"item_purchases", :action=>"update", :id => @item.id, :from => 'item_show', :status => 0}, :method => :put, :class => 'button'%></td>

<td><%= link_to raw("Almost Out"), {:controller=>"item_purchases", :action=>"update", :id => @item.id, :from => 'item_show', :status => 1}, :method => :put, :class => 'button'%></td>

<td><%= link_to raw("Still Have Some"), {:controller=>"item_purchases", :action=>"update", :id => @item.id, :from => 'item_show', :status => 2}, :method => :put, :class => 'button'%></td>

<td><%= link_to raw("Just Bought It"), {:controller=>"item_purchases", :action=>"update", :id => @item.id, :from => 'item_show', :status => 3}, :method => :put, :class => 'button'%></td>
<br><br>
<td><%= link_to raw("Add to Shopping List"), {:controller=>"shopping_list_items", :action=>"create", :shopping_list_item => {:customer_id => @item.purchase.customer_id, :item_id => @item.item.id}, :from => 'item_show'}, :method => :post, :class => 'button'%></td>


</div>
=======
<% if flash[:notice] %>
<div class="alert-status">
	<h3><%= flash[:notice]%></h3>
</div>
    <script type="text/javascript">

	$('.alert-status').delay(2500).fadeOut(1600);
	  
	</script>
 <% end %>


<div class="item_status">
	<%# loop over model statuses here and highlight the one that is the current status for this item. these should also be special links that update the status when clicked (like the task check off buttons in the 272 chores app example) %>
</div>