<%= render :partial => 'partials/head' %>

	<body>
		<div class="top-navbar">
			<a class="navcell-1">
				<%= '@page[:navcell1]' %>
			</a>
			<h1 class="page-title">
				<%= '@page[:pagetitle]' %>
			</h1>
			<a class="navcell-2" href="#additem">
				<%= '@page[:navcell2]' %>
			</a>
		</div>

		<%= yield %>


		<%= render :partial => 'partials/bottom' %>
	
	</body>
</html>
